{
    "pool": {
        "name": "lb-jb-test-03",
        "protocol": "HTTP",
        "method": "ROUNDROBIN",
        "port": "0",
        "services": [
            {
                "name": "192.168.1.113",
                "status": "OUT_OF_SERVICE",
                "ip": "192.168.1.113",
                "port": "8080",
                "weight": "2",
                "monitors": [
                    {
                        "tcp" - just one value, array representation does not work
                    }
                ]
            },
            {
                "name": "192.168.2.113",
                "ip": "192.168.2.113",
                "port": "80",
                "weight": "4",
                "monitors": [
                    {
                        "http-ecv" - just one value, array representation does not work
                    }
                ]
            }
        ]
    }
}